<% unless @setup %>
  <h2>Setup</h2>
  <p>
    Run the following commands in the console (in listed order) from the project root folder:
  </p>
  <ol>
    <li>Run <b><em>bundle install</em></b> to install required gems.</li>
    <li>Run <b><em>rake db:migrate</em></b> to set up development environment tables.</li>
    <li>Run <b><em>rake db:test:prepare</em></b> to set up test environment tables.</li>
    <li>Run <b><em>rake db:seed</em></b> to set up dummy data.</li>
    <li>Refresh this page.</li>
  </ol>
<% else %>
  <h2>Welcome</h2>
  <p>
    Hi there!<br>
    Thanks for taking the time to review my code. <br>
    <br>
    The API capabilities are not demonstrated in views. In fact, everything is demonstrated in spec.<br>
    I've written tests which hopefully provide insight into the application. Please run rspec from the project root folder with the following command:<br>
    <br>
    <b><em>rspec spec/</em></b><br>
    <br>
    I've provided some explanation of the models and controllers in this app in the <a href="/overview">overview</a> tab in the navbar, so be sure to check that out.<br>
    <br>
    <em>P.S. In the off chance stylesheets aren't working, it's probably because a new master has been pushed to the yoyogames.com server, overriding the current application.css URL I'm using to style this website.</em>
  </p>
<% end %>
